// Colors
$body-background: rgb(9, 11, 26);
$main-background: rgb(27, 25, 56);
$title-highlight: rgb(170, 92, 219);
$word-color-1: rgb(255, 255, 255);
$word-color-2: rgba(255, 255, 255, 0.75);
$word-color-3: rgba(255, 255, 255, 0.6);

// Font Weight
$font-weight-4: 400;
$font-weight-7: 700;